<!-- ---------------Usermenu starts here------------- -->
<div class="container usermenu">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="window.location='#/adminHome'">View Reservations
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="window.location='#/adminSettings'">App Settings
            </button>
        </div>
    </div>
</div>
<!-- ------------Usermenu ends here----------------- -->

<!-- -----------Admin View Reservations content starts here----------- -->
<div class="container v_container table-responsive">
    <div class="row">

        <div class="col-md-8">
            <br>
            <input text="search" placeholder="Search Reservations" ng-model="adminhmct.searchText" size="40">
            <table class="table table-striped" ng-table="tableParams">
                <thead>
                <tr class="dataFromDBTableHeader">
                    <th ng-click="adminhmct.sortOrder='reservationId';adminhmct.sortReverse = !adminhmct.sortReverse;">
                        ReservationID
                    </th>
                    <th ng-click="adminhmct.sortOrder='name';adminhmct.sortReverse = !adminhmct.sortReverse;">Name</th>
                    <th ng-click="adminhmct.sortOrder='date';adminhmct.sortReverse = !adminhmct.sortReverse;">Date</th>
                    <th ng-click="adminhmct.sortOrder='time';adminhmct.sortReverse = !adminhmct.sortReverse;">Time</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in adminhmct.res | filter:adminhmct.searchText | orderBy: adminhmct.sortOrder: adminhmct.sortReverse"
                    ng-click="adminhmct.selectedres=x" class="dataFromDB">
                    <td>{{x.reservationId}}</td>
                    <td>{{x.name}}</td>
                    <td>{{x.date}}</td>
                    <td>{{x.time}}</td>
                    <td ng-hide="true">{{x.email}}</td>
                    <td ng-hide="true">{{x.phone}}</td>
                    <td ng-hide="true">{{x.partySize}}</td>
                    <td>
                        <a ng-href="#/updateRecord/{{x.reservationId}}/{{x.name}}/{{x.email}}/{{x.phone}}/{{x.date}}/{{x.time}}/{{x.partySize}}">
                            <span
                                class="glyphicon glyphicon-edit"></span></a></td>
                    <td><span class="glyphicon glyphicon-trash"
                              ng-click="adminhmct.deleteRecords(x.reservationId)"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <div ng-show="adminhmct.selectedres">
                <br><br>

                <h3>Details:</h3>

                <p>Name: {{adminhmct.selectedres.name}}</p>

                <p>Email: {{adminhmct.selectedres.email}}<br>
                    Phone: {{adminhmct.selectedres.phone}}<br>
                    Date: {{adminhmct.selectedres.date}}<br>
                    Time: {{adminhmct.selectedres.time}}<br>
                    Party Size: {{adminhmct.selectedres.partySize}}<br></p>
            </div>
        </div>
    </div>

</div>